* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    background-color: aqua;
}
h1 {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    color: darkcyan;
    font-size: 1.8rem;
    font-family: 'Courier New', Courier, monospace;
}